*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    border: 8px solid black;
}

.box-immagine{
    width: 350px;
    height: 500px;
    border: 2px solid white; 
    border-radius: 20px; 
    display: flex;  
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.box-immagine img{
    width: 300px;
    height: 450px;
    border: 1px;
    border-radius: 20px;
    transition: opacity 0.5s;
}

.box-immagine:hover img{
    opacity: 1;
    filter: brightness(50%);
}


.box-immagine .tasti{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}
.box-immagine:hover .tasti{
    opacity: 1;

}
.box-immagine .tasti button{
  padding: 12px 20px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px white;
  border-radius: 20px;
  color: #000;
  text-align: center;
  display: block;
  font-size: 10px;
  font-weight: bolder;
}

.hidden{
    display: none;
}

.box-immagine .tasti .tasto1{
    position: relative;
    top: 258px;
    right: 55px;
}
.box-immagine .tasti .tasto2{
    position: relative;
    top: 218px;
    left: 125px;
}
.box-immagine .tasti .tasto3{
    position: relative;
    top: 179px;
    left: 179px;
}
.box-immagine .tasti .tasto4{
    position: relative;
    background-color: red;
    color: white;
    left: 10rem;
    top: -16rem;
}

.copyright{
    display: none;
}