*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
   
}

h1{
    margin-top: 5px;
    margin-bottom: 15px;
}

h4{
 color: grey;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.riga2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 10px;
}

button{
    width: 60px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
}

.contenitore{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

img{
    width: 200px;
    height: 110px;
    margin: 10px;
    border: 1px;
    border-radius: 10px;
  }

.img1{
    font-size: 10px;
    font-weight: bold; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

.img1 i{
    margin-left: 0.9rem;
}


.copyright{
    display: none;
}